
.header {
	background-image: url(..//img/gallery-header.jpg);
}

.photos{
	background-color: #C40000 ;
	border: 2px solid white;
	border-radius: 10px;
	width: 90%;
	height: 100%;
	margin: 2em  auto;
	overflow: auto;
}

	.photos > .wrapper{
		width: 600px;
		height: 180px;
		margin: 2em auto;
		background-color: #C7A74E;
		border: 2px solid white;
		border-radius: 10px;
		overflow-x: auto;
		white-space: nowrap;
		box-shadow: 0 0 10px #000;
	}


	.photos  a img {
		border: 2px solid white;
		border-radius: 10px;
		margin: 0 1em 0 1em;
		width: 150px;
		height: 150px;
	}

	.photos  a:hover {
		
	}

.com {
	margin: 2em auto;
	background-color: #C40000 ;
	border: 2px solid white;
	border-radius: 10px;
	width: 90%;
	overflow: hidden;
}

form{
	position:relative;
	overflow: auto;
	color: #FFF;
}

	.details{
		float: left;
	}

		form .details .input{
			text-align:center;
			position:relative;
			margin: 1em;
		}

			form .details .input:first-child input{
				position: absolute;
				top: 0;
				left: 5.5em;
			}

			form .details .input:last-child input{
				position: absolute;
				top: 0;
				left: 5.5em;
			}

	.comment{
		position: absolute;
		top: 1em;
		left: 18em;
	}

		.comment p{
			position: relative;
		}

			.comment p label{
				position: absolute;
				top: 0;
				left: 15em;
			}

		.comment textarea{
			height: 60px;
			width: 200px;
		}

.button{
	float:right;
	width: 5em;
	height: 2em;
	position: absolute;
	top: 1.2em;
	left: 18em;
}