/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px)
and (max-width : 700px) {
/* Styles */
.page{
	width:auto;
	margin: 0;
}

.header{
	width: auto;
	height: 140px;
}

.icon{
	width:120px;
	height:120px;
	position: absolute;
		top:60%;
		left: 3.5%;
		right: 0;
	border: 2px solid white;
	border-radius: 10px;	
	z-index:999;
	
}

.icon img {
	width: 100%;
	position: relative;
	left: 0;
	top: 0;
	
}	


.navigation{
	position: absolute;
	top: 100%;
	left: 33%;
	z-index: 999;
	
}


.content{
	position: absolute;
	top:80%;
	left:0;
	width: 99%;
}




.left{
	width: 28%;
}
.right{
	position: relative;
		left: 1%;
		right: 0;
	width: 69%;
	
}

select {
	width: 98%;
}

.tip {
	display: none;
}

.vid {
	width : 99%;
	margin-top: 1em;
	margin-left: -0.1em;
}


.footer{ 
	position: absolute; 
	top : 285%;
	left: 0;
	width: 99%;
	
}

.footer img {
	display: none;
}


}

