.tips{
border: 2px solid white;
border-radius: 10px;
position: relative;
top: 0;
left: 4%;
width: 91%;
height:465px;
overflow:hidden;
margin: 1em 0;
}

.tips img{
width: 100%;
height: 100%;
display:block;
float: right;
}



.news{
border: 2px solid white;
border-radius: 10px;
position: relative;
top: 0;
left: 4%;
width: 90%;
height:220px;
overflow:hidden;
margin: 1em 0;
}
.news img{
width: 100%;
height: 100%;
display:block;
float: right;
}
